.statistics-loading {
  text-align: center;
}

.panel-statistic {
  width: 30%;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 16px;
  border: #e0e0e0 solid 1.5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.panel-statistic p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}
  
.statistics-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.toggle-container {
  width: 100px;
  height: 30px;
  background-color: var(--background-button-statics-toggle);
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.toggle-slider {
  width: 50%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  transition: all 0.3s ease;
  font-size: 0.8rem;
  font-weight: 500;
  color: #000;
  letter-spacing: 1px;
}

.toggle-slider.home {
  left: 0;
  background-color: var(--background-button-statics-home);
  color: #000000;
}

.toggle-slider.away {
  left: 50%;
  background-color: #000000;
  color: #ffffff;
  border-radius: 40px;
}
  
.statistics-summary {
  display: flex;
  flex-direction: column;
}

.statistics-summary h2 {
  margin: 0;
  text-align: center;
  font-size: 16px;
}
  
.statistic-item {
  display: flex;
  justify-content: space-between;
}
  
.statistic-item p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0;
}

.statistics-total , .statistics-frequency{
  margin-top: 5px;
}

.statistic-divider {
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  .panel-statistic {
    width: auto;
  }
}

@media (max-width: 768px) {
  .panel-statistic {
    width: auto;
  }
}
  

