@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.leagueDetails-loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
  
.loading-spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid var(--color-primary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.team-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 20px;
    gap: 20px;
}

.information-header-intro{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
}

.information-sport-icon {
    width: 18px;
    height: 18px;
    filter: brightness(0.4) saturate(100%) hue-rotate(0deg);
}

.information-country {
    display: flex;
    align-items: center;
}

.information-country-flag {
    width: 18px;
    margin-right: 5px;
}

.information-sport-text {
    margin: 0;
    color: #5e5c5c;
    font-weight: 500;
}

/* Painel do time */
.information-conteiner {
    display: flex;
    justify-content: space-between;
    background-color: #77715b;
    padding: 15px;
    border-radius: 16px;
    border: #e0e0e0 solid 1.5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    height: 120px;
    width: 450px;
    overflow: hidden;
}

.information-container-left{
    gap: 20px;
    display: flex;
    align-items: flex-start;
    z-index: 2;
}

.information-team-image {
    width: 96px;
    height: 96px;
}

.information-team-info {
    display: flex;
    flex-direction: column;
}

.information-team-name {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #fff;
    font-size: 1.4rem;
    width: 150px;
    letter-spacing: 1px;
}

.information-team-leagueName {
    color: #dbdbdb;
    font-size: 0.8rem;
}

.information-team-leagueDivision {
    color: #dbdbdb;
    font-size: 0.8rem;
}

.information-league-image {
    transform: scale(1.8);
    object-fit: cover;
    width: 80%;
    height: 80%;
    opacity: 0.4;
}

.panel-analysis {
    display: flex;
    margin-top: 40px;
    justify-content: space-evenly;
    gap: 20px;
}

.information-divider {
    display: flex;
    justify-content: center;
}

.restricted-access {
    position: relative;
    filter: blur(5px);
    pointer-events: none;
    opacity: 0.7;
    z-index: 1;
}
  
.restricted-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(211, 211, 211, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    pointer-events: none;
}

@media (max-width: 1000px) {
    .panel-analysis {
        margin-top: 40px;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .team-information {
        flex-direction: column;
    }

    .information-conteiner {
        width: auto;
    }

    .panel-analysis {
        margin-top: 0px;
    }

    .information-conteiner > img{
        width: 40%;
        height: 80%;
        position: relative;
        right: 10%;
    }

    .information-team-name {
        font-size: 1rem;
        letter-spacing: 1px;
    }
}