html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-primary); /*Cor de fundo padrão*/
}


/* Configuração para tela mobile */
@media (max-width: 768px) {
  .App {
    width: 100%;
  }
}