.body-footballHome {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.panel-footballHome {
    display: flex;
    justify-content: center;
    width: 980px;
}

.element-scoreLive {
    padding: 10px 0px 10px 20px;
}

.element-componentChampion {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 0px;
    gap: 20px;
}

.element-matchTeam {
    padding: 10px 20px;
}

@media (max-width: 768px) {
    .panel-footballHome {
        width: 100%;
        flex-direction: column;
    }

    .body-footballHome {
        flex-direction: column;
    }

    .element-componentChampion {
        padding: 10px 20px 20px 20px;
    }

    .element-scoreLive {
        padding: 10px 20px 10px 20px;
    }
}

@media (min-width: 980px) {
    .panel-footballHome {
        width: 980px;
    }
}

@media (min-width: 1343px) {
    .panel-footballHome {
        width: 1343px;
    }
}