.body-footballHome {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.panel-footballHome {
    display: flex;
    justify-content: space-between;
    width: 980px;
}

.element-championCountry {
    padding: 10px 20px;
}

.element-mid {
    padding: 10px 20px;
    background-color: #ffffff;
}

.element-championRanking {
    padding: 10px 20px;
}

@media (max-width: 768px) {

    .body-footballHome {
        flex-direction: column;
    }
}

@media (min-width: 980px) {
    .panel-footballHome {
        width: 980px;
    }
}

@media (min-width: 1343px) {
    .panel-footballHome {
        width: 1343px;
    }
}